@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }

    #pay{
        width: 100%;
    }

    #productsList{
        margin-right: 0px;
        width: 80%;
    }

    .alertCarritoVacio{
        margin-top: 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    section{
        margin-top: 0px;
        margin-bottom: 50%;
    }

    #btnVaciarCarrito{
        margin-right: 1%;
    }