*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --azul-oscuro: #172b4d;
    --turquesa-oscuro: #36454f;
    --turquesa-medio: #6082b6;
    --turquesa-claro: #7393b3;
    --gris: #e5e4e2;
    --naranja-claro:#edcfc0;
    --verde-claro:#d5e4d9;
    --celeste-claro:#c3d3d6;
    --rosa-claro:#e4d5e3;
    --negro:#000;
    --blanco: #fff;
    --effect: hover 1s linear infinite;
}


/* COMIENZA HEADER  */

.barra__navegacion{
    background-color: var(--turquesa-claro);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.content__logo{
    width: 15%;
    display: flex;
    justify-content: center;
}

.content__search{
    width: 50%;
}

.content__links{
    width: 35%;
}


.logo{
    width: 40px;
    height: 40px;
    border-radius: 3px;
}

.content__botones{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0;
}


.input__search{
    background-color: var(--celeste-claro);
    border: none;
    border-radius: 3px;
    padding: 5px;
    width: 80%;
}

.boton__search{
    background-color: var(--celeste-claro);
    padding: 5px;
    border: none;
    border-radius: 3px;
    color: var(--negro)
}

.options{
    padding: 5px 10px;
    background-color: var(--celeste-claro);
    border-radius:3px ;
    text-align: center;
}
 
.options-links{
    text-decoration: none;
    color: var(--negro);
}

.options-links:hover{
    color: var(--blanco);
}

.options:hover, .boton__search:hover, .options__category:hover{
        background-color: var(--turquesa-medio);
        color: var(--blanco);
}

.boton__menu{
    display: none;
}

/* COMIENZA MAIN  */




.content__body{
    height: 100vh;
}


.section__products{
    min-height: 100vh;
}

.content__barraCategory{
    background-color: var(--azul-oscuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.list__category{
    list-style: none;
}
.content__list{
    display: flex;
    justify-content: center;
    width: 30%;
}

.options__category{
    background-color: var(--celeste-claro);
    padding: 5px 20px;
    border-radius: 3px;
    margin: 5px;
}



/* COMIENZA CARRITO */

.content__icons{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}




.container__cartProducts{
    position: absolute;
    top: 10%;
    right: .5rem;
    background-color: #fff;
    width: 25rem;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    padding: .5rem;
}


.cart__product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.icons__nav{
    color: var(--blanco);
    font-size: 20px;
}


/* .products-cart{
    
} */

.cart-products{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem;
    margin: .2rem;
}


.image__productCart{
    height: 2rem;
    width: 2rem;
}

.cantidad{
    border: 1px solid #000;
    padding: 10px;
    margin: 0;
}

.name-product{
    font-size: 1rem;
    margin: 0;
    width: 40%;
    text-align: center;
}

.price-product{
    font-size: 1rem;
    margin: 0;
}

.icon__close:hover{
    color: #aa0303;
}

.content-total-and-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: rgba(73, 73, 73, 0.678) solid 1px;
    padding: .5rem;
}


.content__total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.total{
    font-size: 1rem;
    margin: 0;
    font-weight: 600;
    margin-right: 10px ;
}

.total__pagar {
    margin: 0;
}

.desglose{
    width: 100%;
    text-align: center;
}

.boton__desglose{
    background-color: var(--verde-claro);
    padding: .7rem;
    border-radius: 30px;
    text-decoration: none;
    color: var(--negro);
}


.boton__desglose:hover{
    background-color:var(--celeste-claro);
    color: var(--blanco);
}
/* COMIENZAR FOOTER  */


.pie__pagina{
    background-color: var(--azul-oscuro);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--blanco);
    padding: 1rem;
}

.name-and-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name__page{
    font-size: 1rem;
    padding: 1rem;
}

.parrafo__footer{
    font-weight: 600
}

.title__metodo{
    font-size: 1rem;
    padding: 1rem;
}

.metodo__dePago{
    height: 100%;
}

.listaLogosPago{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.logo-pagar{
    width: 2rem;
    height: 2rem;
    background-color: var(--blanco);
    border-radius: 5px ;
}



.content__redes{
    width: 30%;
    height: 5%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title__redes{
    font-size: 1rem;
}

.redes{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}



.fa-brands{
    color: var(--blanco);
    font-size:1.3rem ;
}

.dev{
    width: 50%;
    text-align: left;
}


/* COMIENZA SECCION DE PRODUCTOS  */


.carousel{
    height: 5%;
}


.content__cards{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.card{
    margin: 1rem;
    overflow: hidden;
    transform: translate(0);
    transition: 0.25s;
}

.card:hover{
    transform: scale(1.03);
}

.card::before{
    content: "";
    position: absolute;
    transform: rotate(-12deg);
    z-index: -1;
}

.card-direccion{
    text-decoration: none;
}

.card-title{
    font-size: 1rem;
    color: var(--negro);
}

.card-price{
    font-size: 1.5rem;
    color: var(--turquesa-claro);
    font-weight: 500;
}

.gradient {
    background: linear-gradient(-45deg, var(--turquesa-claro), var(--turquesa-medio), var(--turquesa-oscuro), var(--azul-oscuro));
    background-size: 400% 400%;
    background-position: 0% 10%;
    border-radius: 3px;
    cursor: pointer;
    text-align:center ;
    
}


.gradient:hover{
    animation: gradient 8s ease infinite;
    text-align:center ;
    color: var(--blanco);

}

@keyframes gradient {
    0% {
        background-position: 0% 10%;
    }
    
    50%{
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.btn{
    color: var(--blanco);
    width: 100%;
}


.hidden{
    display: none;
}


/* ESTILOS DEL MENSAJE DE ERROR POR PRODUCTO NO ENCONTRADO  */

.content__messageErr{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.card__mensajeDeError{
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 15px var(--negro);
}


.img__error{
    width: 20rem;
    height: 20rem;
}


.mensaje__error{
    width: 50%;
}






/* COMIENZA RESPONSIVE  */
@media (max-width: 700px){
    .barra__navegacion{
        flex-wrap: wrap;
    }


    .content__search{
        width: 70%;
    }


    .boton__menu{
        background-color: var(--celeste-claro);
        border: none;
        border-radius: 3px;
        font-size: 1.5rem;
        display: block;
        padding: .2rem;
        margin: .5rem;
    }

    .content__links{
        width: 100%;
        height: 0;
        transition: all .5s ease;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        overflow: hidden;
        pointer-events: none;
    }

    .content__links.activo{
        height: 40vh;
        pointer-events: auto;
    }

    .content__botones{
        flex-direction: column;
    }
    
    .options{
        margin:1rem 0;
        width: 80%;
    }

    .options:hover{
        cursor: pointer;
    }


    .pie__pagina{
        flex-direction: column;
    }

    .content__redes{
        width: 100%;
    }
}


@media (max-width: 450px){
    .input__search{
        width: 70%;
    }
}